body {
  line-height: 1.7 !important;
  font-size: 17px;
  letter-spacing: .3px;
  word-spacing: .5px;
  background: url(http://freetemplatesdownload.info/serviceimgs/dark-texture.jpg);
}
.img-responsive {
  width: 100%;
}
.cursive {
  font-family: cursive;
}
.monospace {
  font-family: monospace;
}
.row .col-md-2 {
  padding: 0 10%;
}
.row .col-md-2 ul.navigation {
  color: #fff;
  margin-top: 120px;
  border-right: 1px solid rgba(95, 95, 95, 0.7);
  border-left: 1px solid rgba(95, 95, 95, 0.7);
}
.row .col-md-2 ul.navigation li {
  border-bottom: 1px solid rgba(95, 95, 95, 0.7);
  background: rgba(65, 65, 65, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.row .col-md-2 ul.navigation li a {
  color: #fff;
  font-size: 20px;
  display: block;
  padding: 15px 25px;
  text-align: center;
  transition: all 0.5s ease;
}
.row .col-md-2 ul.navigation li a:hover {
  background: rgba(20, 20, 20, 0.5);
  text-decoration: none;
}
.row .col-md-2 ul.navigation li:first-of-type {
  border-top: 1px solid rgba(95, 95, 95, 0.7);
}
.row .col-md-2 ul.navigation .current {
  background: rgba(40, 40, 40, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
}
.row .col-md-10 .content {
  margin-top: 50px;
  margin-left: 1px;
  padding: 30px;
  background: #fff;
  border-top-left-radius: 50px;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 10px #000000, 0 0 5px #000000;
  border-radius: 15px 15px 0 0;
}
.row .col-md-10 .content .full {
  margin-left: -30px;
  margin-right: -30px;
}
.row .col-md-10 .content p {
  margin-bottom: 25px;
}
.row .col-md-10 .content .head-image {
  height: 450px;
  margin-bottom: 30px;
  margin-top: -30px;
  background: url(http://freetemplatesdownload.info/serviceimgs/beach.jpg) center 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.row .col-md-10 .content .head-image h1 {
  position: relative;
  margin: auto;
  padding: 5px 20px;
  top: 40%;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.35);
  text-align: center;
  border: 10px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.row .col-md-10 .content h1.fancy-title,
.row .col-md-10 .content h2.fancy-title,
.row .col-md-10 .content h3.fancy-title,
.row .col-md-10 .content h4.fancy-title,
.row .col-md-10 .content h5.fancy-title {
  margin-top: 40px !important;
  margin-bottom: 15px !important;
  box-shadow: 0 -10px 15px -10px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  text-align: center;
}
.row .col-md-10 .content .panel-group .panel-title > a {
  display: block;
  padding: 15px 20px;
}
.row .col-md-10 .content .panel-group .panel-title > a:hover {
  text-decoration: none;
}
.row .col-md-10 .content .panel-group .panel-heading {
  padding: 0 !important;
  border-radius: 0 !important;
}
.row .col-md-10 .content .panel-group .panel + .panel {
  margin-top: 15px !important;
}
.row .col-md-10 .content .panel-group .panel-img {
  margin: -15px -15px 20px -15px;
}
.row .col-md-10 .content .col-md-5,
.row .col-md-10 .content .col-md-7 {
  margin-top: 30px;
}
.get-in-touch {
  background: #000;
  padding: 50px;
  background: linear-gradient(135deg, #f9a836 0%, #dc8b18 100%);
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 992px) {
  .container {
    width: 100% !important;
  }
  .row .col-md-2 {
    padding: 0 !important;
  }
  .row .col-md-10 {
    padding: 0 !important;
  }
  .row .col-md-2 ul.navigation {
    border-left: 0;
  }
  .row .col-md-2 ul.navigation li a {
    text-align: left;
    padding: 10px 25px;
  }
  .row .col-md-10 .content .head-image {
    border-radius: 50px 0 0 0;
  }
  .row .col-md-10 .content {
    border-radius: 50px 0 0 0;
  }
}
@media (max-width: 1100px) {
  .row .col-md-10 .content .head-image h1 {
    font-size: 80px;
  }
}
@media (max-width: 800px) {
  .row .col-md-10 .content .head-image h1 {
    font-size: 60px;
    border: 7px solid #fff;
  }
}
@media (max-width: 600px) {
  .row .col-md-10 .content .head-image h1 {
    font-size: 37px;
    padding: 5px 10px;
    border: 5px solid #fff;
  }
}
