###############################
##  .PHP extension as .HTML  ##
###############################

RewriteEngine on
RewriteRule ^(.*)\.html$ $1.php





###########################################
##  Set Expiration Date and Cache Headers##
###########################################
# https://developers.google.com/speed/docs/best-practices/caching#LeverageBrowserCaching

ExpiresActive On
ExpiresDefault "access plus 1 days"





#############################
## Redirect the icon fonts ##
#############################

rewriterule ^fonts/glyphicons-halflings-regular.woff(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.woff$1 [r=301,nc]

rewriterule ^fonts/glyphicons-halflings-regular.eot(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.eot$1 [r=301,nc]

rewriterule ^fonts/glyphicons-halflings-regular.svg(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.svg$1 [r=301,nc]





#####################################
## Enable gzip Server Compression  ##
#####################################

<IfModule mod_deflate.c>
    #The following line is enough for .js and .css
    AddOutputFilter DEFLATE js css

    #The following line also enables compression by file content type, for the following list of Content-Type:s
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml

    #The following lines are to avoid bugs with some browsers
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>





#################################
##  Custom 404 Not Found Page  ##
#################################

ErrorDocument 404 'Redirecting...<meta http-equiv="refresh" content="1;url=http://freetemplatesdownload.info/404.html" />'