#####################
##  Disable ETags  ##
#####################

Header unset ETag
FileETag None




###########################################
##  Set Expiration Date and Cache Headers##
###########################################
# https://developers.google.com/speed/docs/best-practices/caching#LeverageBrowserCaching

ExpiresActive On
ExpiresDefault "access plus 1 week"

ExpiresByType text/html "access plus 2 day"

ExpiresByType image/gif "access plus 365 days"
ExpiresByType image/jpeg "access plus 365 days"
ExpiresByType image/png "access plus 365 days"
ExpiresByType image/svg "access plus 365 days"
ExpiresByType xml/svg "access plus 365 days"

ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresByType application/x-javascript "access plus 1 week"





#############################
## Redirect the icon fonts ##
#############################

rewriterule ^fonts/glyphicons-halflings-regular.woff(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.woff$1 [r=301,nc]

rewriterule ^fonts/glyphicons-halflings-regular.eot(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.eot$1 [r=301,nc]

rewriterule ^fonts/glyphicons-halflings-regular.svg(.*)$ http://freetemplatesdownload.info/bootstrap/fonts/glyphicons-halflings-regular.svg$1 [r=301,nc]





#####################################
## Enable gzip Server Compression  ##
#####################################

<IfModule mod_deflate.c>
    #The following line is enough for .js and .css
    AddOutputFilter DEFLATE js css

    #The following line also enables compression by file content type, for the following list of Content-Type:s
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml image/svg+xml image/svg image/xml

    #The following lines are to avoid bugs with some browsers
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html|svg)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>





##############################
##  Custom Error Documents  ##
##############################

ErrorDocument 404 /ErrorDocuments/404.html
ErrorDocument 403 /ErrorDocuments/403.html