---
layout: page
title: "Online store for free web templates | FreeTemplatesDownload.info"
body-classes: "page homepage"
---

<div class="container">
  <div class="welcoming-message clearfix">
    <div class="col-lg-6 col-md-6 welcome-hero">
        <h1>What's it all about?</h1>
        <p>
          <span>FreeTemplatesDownload.info</span> is a website where you can find beautiful <span>free</span> web templates and themes.
          You can <span>'Live Preview'</span> them, and if you like what you see you can just download a <span>free</span> copy of them.
        </p>
        <h2>Philosophy and core values...</h2>
        <p>
          We admire <span>simplicity</span> and <span>minimalism</span> and we love <span>open source</span> software. So with that being said
          our goal is to offer beautiful, amazing, simple and minimalistic web templates <span>just for free</span>. That's what it's all about.
        </p>
        <blockquote><p>Simplicity is the ultimate sophistication.</p> <span>- Leonardo da Vinci</span></blockquote>
    </div>
    <div class="col-lg-6 col-md-6 github">
      <a target="_blank" href="https://github.com/LubomirGeorgiev/freetemplatesdownload.info"><img class="img-responsive" src="http://freetemplatesdownload.info/images/github-logo.svg" alt="GitHub Logo"></a>
      <p class="lead">The website and all of the templates are available as an open-source project on GitHub.</p>
      <p class="lead-two">From the link below you can download the latest and greatest copy of the entire source code and enjoy it. <span class="glyphicon glyphicon-thumbs-up"></span></p>
      <img src="http://freetemplatesdownload.info/images/rounded-shadow.png" alt="shadow" class="rounded-shadow img-responsive">
      <p>
        <a class="btn btn-default btn-lg" href="https://github.com/LubomirGeorgiev/freetemplatesdownload.info/archive/master.zip">Download Source</a>
        <a class=" btn btn-link" href="https://github.com/LubomirGeorgiev/freetemplatesdownload.info#readme">Or learn more about the project</a>
      </p>
    </div>
  </div><!-- //.welcome-hero -->
</div>

<div class="billboard-heros clearfix">

{% for post in site.categories.template %}
  {% if post.show-on-homepage == "yes" %}
    <div class="container margintop">
      <div class="row">
              <div class="col-md-6">
                <a href="{{ site.url }}/template/{{ post.template-name-lowercase-no-spaces }}.html{{ site.data.site.homepage-analytics-code }}"><img class="img-responsive" alt="{{ post.template-name }} - A Free Web Template" title="{{ post.template-name }} - A Free Web Template" src="{{ post.template-small-img }}"></a>
              </div>
              <div class="col-md-6 text-center">
                  <a href="{{ site.url }}/template/{{ post.template-name-lowercase-no-spaces }}.html{{ site.data.site.homepage-analytics-code }}"><h2>{{ post.template-name }}</h2></a>
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-default btn-lg" href="{{ site.url }}/template/{{ post.template-name-lowercase-no-spaces }}.html{{ site.data.site.homepage-analytics-code }}">View</a>
                    <a class="btn btn-default btn-lg" href="{{ site.url }}/download/{{ post.template-name-lowercase-no-spaces }}.zip">Download</a>
                  </div>
              </div>
      </div>
    </div><!-- /.container -->
  {% endif %}
{% endfor %}

</div>

    <a class="alltemplates-home-button" href="{{ site.url }}/all-templates.html">Click here to see all available templates <span class="glyphicon glyphicon-chevron-right"></span></a>

<div class="container blog-billboard">
    <div class="col-md-12">
      <h3>Latest from the <a href="http://freetemplatesdownload.info/blog/">#blog</a></h3>
    </div>

<a class="col-md-4" href="http://freetemplatesdownload.info/blog/bootstrap/getting-started-with-bootstrap/author-lubomir-georgiev">
  <div class="post">
    <div class="title">Getting Started with Bootstrap</div>
    <div class="post-thumbnail">
      <img src="http://freetemplatesdownload.info/blog/wp-content/uploads/2014/05/getting-started-with-bootstrap.jpg" class="img-responsive" alt="Getting Started with Bootstrap">
    </div>
  </div>
</a>

<a class="col-md-4" href="http://freetemplatesdownload.info/blog/web-fonts/list-of-web-safe-fonts/author-lubomir-georgiev">
  <div class="post">
    <div class="title">List of web safe fonts that you can use freely</div>
    <p>In HTML and XHTML, a font face or font family is the typeface that will be applied by a web browser to some text. The font is relevant for the display of text on the screen, on a printer or another device.</p>
  </div>
</a>

<a class="col-md-4" href="http://freetemplatesdownload.info/blog/less-css/5-reasons-why-you-should-be-using-less-css/author-lubomir-georgiev">
  <div class="post">
    <div class="title">5 Reasons why you should be using {LESS} CSS</div>
    <div class="post-thumbnail">
      <img src="http://freetemplatesdownload.info/blog/wp-content/uploads/2013/11/less-css-5-reasons.jpg" class="img-responsive" alt="5 Reasons why you should be using Less CSS">
    </div>
  </div>
</a>

</div><!-- blog-billboard -->
