// FOOTER
.footer {
	margin-top: @footer-margin-top;
	background: #fff;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
	color: #5e5e5e;
	padding-bottom: 5px;

.copyright {
text-align: center;

	p {
		display: inline-block;
		text-align: center;
		background: #fff;
		padding: 10px 30px;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
	}
}

.container {

	p {
		.glyphicon-heart {
			color: #ed0808;
			font-size: 30px;
			vertical-align: -11px;
			margin: 0 4px;
		}
	}
		// Blockquotes Styles
	blockquote {
		float: right;
		border: 0 !important;

	p {
		margin: 0;
		font-size: 21px;
		text-align: center;
		font-family:georgia, serif;

		&:before {
		color: #ccc;
		content: open-quote;
		font-size: 5em;
		line-height: 0.1em;
		margin-right: 5px;
		vertical-align: -0.38em;
		}

		&:after {
		color: #ccc;
		content: close-quote;
		font-size: 5em;
		line-height: 0.1em;
		margin-left: 5px;
		vertical-align: -0.70em;
		}
	}


		span {
			display:block;
			float: right;
			font-style:italic;
		}
	} // closes blockquote
	} // closes .container
}

.footlinks {
margin-top: 30px;

	li {
		display: block;
	    float: left;
	    margin: 8px 0;
	    padding-right: 10px;
	    width: 33.3%;
	    text-align: center;
	}

}