/* Footer */
.footer {
	margin-top: @footer-margin-top;
	background: #fff;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
	color: #5e5e5e;
	padding-bottom: 5px;

.copyright {
text-align: center;

	p {
		display: inline-block;
		text-align: center;
		background: #fff;
		padding: 10px 30px;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
	}
}

.container {

	p {
		.glyphicon-heart {
			color: #ed0808;
			font-size: 30px;
			vertical-align: -11px;
			margin: 0 4px;
		}
	}
		// Blockquotes Styles
	blockquote {
		float: right;
		border: 0 !important;

	p {
		margin: 0;
		font-size: 21px;
		text-align: center;
		font-family:georgia, serif;

		&:before {
		color: #ccc;
		content: open-quote;
		font-size: 5em;
		line-height: 0.1em;
		margin-right: 5px;
		vertical-align: -0.38em;
		}

		&:after {
		color: #ccc;
		content: close-quote;
		font-size: 5em;
		line-height: 0.1em;
		margin-left: 5px;
		vertical-align: -0.70em;
		}
	}


		span {
			display:block;
			float: right;
			font-style:italic;
		}
	} // closes blockquote
	} // closes .container
}

.footerpanel {
margin: 30px 0;
border: 1px solid #d9d9d9;

	ul.breadcrumbs {
		background: rgba(200, 200, 200, 0.15);
		border-bottom: 1px solid #d9d9d9;
		box-shadow: 0 3px 3px -1px rgba(0,0,0,0.06);
		overflow: hidden;
		width: 100%;
		padding: 0;

		li {
			float: left;

			&:first-child a {
				padding-left: 1em;
			}

			&:hover {
				background: #fff;
			}

			a {
				padding: .7em 1em .7em 2em;
				float: left;
				text-decoration: none;
				color: #444;
				position: relative;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
				background-color: #ddd;
				background-image: linear-gradient(to right, #fafafa, #e6e6e6); 

				&:after, &:before {
					content: "";
					position: absolute;
					top: 50%;
					margin-top: -1.5em;   
					border-top: 1.5em solid transparent;
					border-bottom: 1.5em solid transparent;
					border-left: 1em solid;
					right: -1em;
				}

				&:after {
					z-index: 2;
					border-left-color: #e6e6e6;
				}

				&:before {
					border-left-color: #c8c8c8;  
					right: -1.1em;
					z-index: 1; 
				}
			}
		}
	}

	ul.footlinks {

		li {
			display: block;
		    float: left;
		    margin: 8px 0;
		    padding-right: 10px;
		    width: 33.3%;
		    text-align: center;
		}
	}
}

.bulgaria {
	display: inline-block;
	background: @footer-bulgarian-flag;
	width: 150px;
	height: 101px;
	vertical-align: -40px;
}