body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
	background:  darken(@pagebg, 5%) !important;
}

.content {
	background: #fff;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.15);
}

.img-responsive {
	width: 100% !important;
}

.menu-wrap {
	background: #fff;
	margin-bottom: 80px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.navbar.navbar-default {
background: #fff;
border: 0;
margin: 0;

	.collapse {
		ul.nav {
			.bloglink {
				a {
					span{
						margin-right: 5px;
					}
				}
			}
		}
	}
}