/* Media Queries  and Responsiveness */
@media (max-width: 768px) {

.template-details > a > h1 {
	font-size: 40px;
}
.button {
	font-size: 30px !important;
	width: 100%;
}

}

@media (max-width: 400px) {

	.navbar-brand {
		font-size: 13px !important;
		font-weight: bold;
	}

}