@media(max-width:767px){

	body.page.template-review-single .template-details>a>h1 {
		font-size: 40px;
	}
	
	body.page.template-review-single .button {
		font-size: 30px;
		width: 100%;
	}

	.navbar-form {
		margin: 30px 0 10px 0 !important;
		text-align: center;
	}

	.footer {

		blockquote {
			margin-top: 70px;
			float: none !important;

			p {
				font-size: 13px !important;
			}
		}

		.made-in-bulgaria {
			margin-top: 40px !important;
			p {
				text-align: center;
			}
		}
	}

}
@media(min-width:768px) and (max-width: 989px){

	.footer {

		blockquote {
			p {
				font-size: 13px !important;
			}
		}
	}

}

@media(min-width:992px){

}
@media(min-width:1200px){

}


// To target low resolution devices
@media(max-width:500px) {

	.navbar-brand {
		font-size: 15px !important;
	}

	.btn.btn-success.blog-button {
		margin-right: 15px;
	}
}