	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="googlebot" content="index, follow">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="free, templates, themes, download, freethemes, freetemplates, download templates, download themes">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="google-site-verification" content="3nWtTeNPrK0SctjkkqHfrYqDf35racWRXe99NQyAcPg" />
	<link rel="icon" href="http://freetemplatesdownload.info/favicon.png" type="image/x-icon">