.margintop {
  margin-top: 150px;
}

.col-md-6 {
//LEFT - image
a {
  img {

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

}

.col-md-6.text-center {
//RIGHT - description
  h2 {
      font-size: round($body-font-size*4.45);
      font-weight: bold;
      margin-top: 0;
      color: #000;
    }

  h3 {
      margin-top: 0 !important;
      color: #000;
    }

  .btn-group {
    margin-top: 40px;

    a {
      padding: 17px 25px;
      background: #d0d0d0;
      background: rgba(255,255,255,0.4);
      border: 1px solid #b1b1b1;
      border: 1px solid rgba(255,255,255,.2);
      z-index: 9999; // SOME ANNOYING BOOTSTRAP BUG UGHHHHHHHH :(
      transition: all 0.7s ease;

        &:first-of-type{
          box-shadow: 0 0 10px rgba(0,0,0,.10) inset, 0 0 15px rgba(0,0,0,.3);

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,.3) inset, -15px 0 20px rgba(0,0,0,.4);
          }
        }

        &:nth-child(2) {
          box-shadow: 0 0 10px rgba(0,0,0,.10) inset, 10px 0 15px rgba(0,0,0,.3);

          &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,.3) inset, 15px 0 20px rgba(0,0,0,.4);
          }
        }
    }
  }
}
