---
layout: page
title: "Sitemap | FreeTemplatesDownload.info"
body-classes: "sitemap"
permalink: /sitemap.html
---

<div class="container">
	<div class="row">
		<div class="col-lg-12"><h1>Website Sitemap</h1></div>
	</div>

    <div class="row">
      <div class="col-md-6">
          <div class="panel panel-default special">
          <div class="panel-heading">Main pages</div>
          <div class="panel-body">
              <div class="list-group">
              <a href="{{ site.url }}/{{ site.sitemap-analytics-code }}" class="list-group-item">Home <small>www.freetemplatesdownload.info</small></a>
              <a href="{{ site.url }}/all-templates.html{{ site.sitemap-analytics-code }}" class="list-group-item">All templates <small>/all-templates.html</small></a>
              <a href="{{ site.url }}/sitemap.html{{ site.sitemap-analytics-code }}" class="list-group-item">Website sitemap <small>/sitemap.html</small></a>
              </div>
          </div>
          </div>

          <div class="panel panel-default special">
          <div class="panel-heading">Live Previews</div>
          <div class="panel-body">
              <div class="list-group">

              {% comment %} <!-- COMMENT -->
              This is an example of what the following loop spits out:
                <a href="{{ site.url }}/livepreview/pager/?utm_source=sitemap&utm_medium=referral&utm_campaign=sitemap" class="list-group-item">
                  Pager <small>/livepreview/pager/</small>
                </a>
              {% endcomment %}

              {% for post in site.categories.template %}
                  <a href="{{ site.url }}/livepreview/{{ post.template-name-lowercase-no-spaces }}/{{ site.sitemap-analytics-code }}" class="list-group-item">
                    {{ post.template-name }}  /  LivePreview <small>/livepreview/{{ post.template-name-lowercase-no-spaces }}/</small>
                  </a>
              {% endfor %}

              </div>
          </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-default special">
          <div class="panel-heading">Templates</div>
          <div class="panel-body">
              <div class="list-group">

          {% comment %} <!-- COMMENT -->
          This is an example of what the following loop spits out:
          <a href="{{ site.url }}/template/pager.html?utm_source=sitemap&utm_medium=referral&utm_campaign=sitemap" class="list-group-item">
            Pager <small>/template/pager.html</small>
          </a>
          {% endcomment %}

          {% for post in site.categories.template %}
              <a href="{{ site.url }}/template/{{ post.template-name-lowercase-no-spaces }}.html{{ site.sitemap-analytics-code }}" class="list-group-item">
                {{ post.template-name }} <small>/template/{{ post.template-name-lowercase-no-spaces }}.html</small>
              </a>
          {% endfor %}

              </div>
          </div>
          </div>

          <div class="panel panel-default special">
          <div class="panel-heading">Blog</div>
          <div class="panel-body">
              <div class="list-group">
              <a href="http://freetemplatesdownload.info/blog/{{ site.sitemap-analytics-code }}" class="list-group-item">Blog home <small>/blog/</small></a>
              <a href="http://freetemplatesdownload.info/blog/less-css/5-reasons-why-you-should-be-using-less-css/author-lubomir-georgiev{{ site.sitemap-analytics-code }}" class="list-group-item">5 Reasons why you should be using {LESS} CSS <small>/blog/less-css/5-reasons-why-you-should...</small></a>
              <a href="http://freetemplatesdownload.info/blog/bootstrap/getting-started-with-bootstrap/author-lubomir-georgiev{{ site.sitemap-analytics-code }}" class="list-group-item">Getting Started with Bootstrap <small>/blog/bootstrap/getting-started-with-bootstrap/author-lubomir-georgiev</small></a>
              <a href="http://freetemplatesdownload.info/blog/web-fonts/list-of-web-safe-fonts/author-lubomir-georgiev{{ site.sitemap-analytics-code }}" class="list-group-item">List of web safe fonts that you can use freely <small>/blog/web-fonts/list-of-web-safe-fonts...</small></a>
              <a href="http://freetemplatesdownload.info/blog/category/less-css{{ site.sitemap-analytics-code }}" class="list-group-item">LESS CSS - category <small>/blog/category/less-css</small></a>
              <a href="http://freetemplatesdownload.info/blog/author/Lubomir-Georgiev{{ site.sitemap-analytics-code }}" class="list-group-item">Lubomir Georgiev - Author <small>/blog/author/Lubomir-Georgiev</small></a>
              </div>
          </div>
          </div>

          <div class="panel panel-default special">
          <div class="panel-heading">Resources</div>
          <div class="panel-body">
              <div class="list-group">
                <a href="{{ site.github-repository }}" class="list-group-item">Github Repository</a>
                <a href="{{ site.github-repository }}/issues/new" class="list-group-item">Report a bug</a>
                <a href="{{ site.github-repository }}#readme" class="list-group-item">Project's README file</a>
                <a href="https://travis-ci.org/LubomirGeorgiev/freetemplatesdownload.info" class="list-group-item">Tests and builds on Travis CI</a>
                <a href="https://david-dm.org/LubomirGeorgiev/freetemplatesdownload.info" class="list-group-item">Node.js and npm dependency status</a>
              </div>
          </div>
          </div>
      </div>
    </div><!-- //.row -->
</div>
