<li class="link1"><a href="{{ site.url }}/">Home</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Templates <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% comment %} <!-- COMMENT -->
        This is an example of what the following loop spits out:
        <li class="pager-link">
          <a href="{{ site.url }}/template/pager.html?utm_source=MainNav&utm_medium=referral&utm_campaign=MainNav+to+Template">
            Pager
          </a>
        </li>
        {% endcomment %}

        {% for post in site.categories.template %}
            <li class="{{ post.template-name-lowercase-no-spaces }}-link"><a href="{{ site.url }}/template/{{ post.template-name-lowercase-no-spaces }}.html{{ site.data.site.navlinks-analytics-code }}">{{ post.template-name }}</a></li>
        {% endfor %}
    </ul>
</li>
<li class="all-templateslink"><a href="{{ site.url }}/all-templates.html">All templates</a></li>
<li><a href="https://github.com/LubomirGeorgiev/freetemplatesdownload.info" target="_blank">GitHub Project</a></li>
<li><a href="https://github.com/LubomirGeorgiev/freetemplatesdownload.info/issues/new" target="_blank">Report a bug</a></li>

<div class="navbar-form navbar-right buttons">
    <a class="btn btn-success blog-button" href="{{ site.url }}/blog/?utm_source=MainNav&utm_medium=referral&utm_campaign=MainNavGreenButton+to+Blog">BLOG</a>
	 <a class="btn btn-default" href="{{ site.url }}/sitemap.html?utm_source=MainNav&utm_medium=referral&utm_campaign=MainNavButton+to+sitemap">Sitemap</a>
</div>