.billboard-heros {
	margin-top: 70px;
}

.margintop {
	margin-top: 150px;
}

.col-lg-5.col-md-5 {
//LEFT - image
a {
	img {
		
		.drop-shadow(0, 0, 10px, 0.4); 
	}
}

}

.col-lg-7.col-md-7.text-center {
//RIGHT - description
	h2 {
			font-size: 70px;
			font-weight: bold;
			margin-top: 0;
			color: #000;
		}

	h3 {
			margin-top: 0 !important;
			color: #000;
		}
}

ul.list-unstyled {
	margin-top: 80px;
	font-size: 30px;
	text-align: justify;
	margin-left: 20%;
}

ul.list-unstyled {

	li {
		margin-bottom: 30px;
	}
}

li {

	.glyphicon {
		margin-right: 15px;
	}

	small {
		position: relative;
		font-size: 10px;
		bottom: 5px;
		font-weight: bold;
	}
}