@media (max-width: 992px) {

ul.list-unstyled {
text-align: left;
}


a {

	h2 {
			font-size: 40px !important;
			margin-top: 30px;
		}

	h3 {
		font-size: 15px !important;
	}
}

ul.list-unstyled {
	font-size: 20px;
	margin-left: 24%;
}

}

@media (max-width: 400px) {



}