{% include document-head.html %}
<body class="page template-review-single">
    {% include navigation.html %}

<div class="markdown-body">
			 <!-- {{ content }} -->
</div>

		<div class="container">
			<div class="row">
		<div class="template-details clearfix">
		    <a href="{{ site.url }}/livepreview/{{ page.template-name-lowercase-no-spaces }}/">
			    <h1>{{ page.template-name }}</h1>
			    <div class="promobillboard">
			    <img alt="{{ page.template-name }} is a free web template. - fully responsible, retina compatible, mobile friendly, multipurpose use, beautiful design" title="{{ page.template-name }} - A Free Web Template" class="img-responsive" src="{{ page.template-large-img }}">
			    </div>
			</a>

		<div class="promobuttons">
		    <a class="btn btn-danger button" href="http://freetemplatesdownload.info/download/{{ page.template-name-lowercase-no-spaces }}.zip">Download</a>
		    <a class="btn btn-success button" href="/livepreview/{{ page.template-name-lowercase-no-spaces }}/">Live preview</a>
		</div>
		</div>
		</div>
		</div><!-- /.container -->

{% include document-bottom.html %}